/1-ClassesBasic/.idea
/2-ClassesWithInheritance/.idea
/3-ClassesStronglyTyped/.idea
/4-ClassesVisibility/.idea
/5-ClassesFunctions/.idea
/6-ClassesDependencies/.idea
/7-ClassesWithHTML/.idea
/8-ClassesWithHTMLWithHigherAbstractionLevel/.idea